.technologies {
  margin: 2em 0;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
  gap: 1em;
}

.technology {
  margin: 3em 0;
}

.technology-img, .technology-img img {
  width: 100px;
}
