:root {
  --background: #f2f3ef;
  --light: #FEFEFE;
  --dark: #103b6a;
  --primary: #4443D0;
  --font-family: 'Poppins', sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background);
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

h1 {
  text-transform: uppercase;
  color: var(--dark);
  font-weight: 700;
}

.nav-header {
  background-color: var(--light);
  padding: 1em 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

ul.nav-items {
  display: flex;
  gap: 1.25em;
}

.nav-item a {
  color: var(--primary);
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-color 250ms linear;
}

.nav-item a:hover {
  border-color: var(--primary);
}

.section-title {
  font-size: 1.25em;
  text-transform: uppercase;
  margin: 1em 0;
}

.categories {
  margin: 2em 0;
}

.categories .slider {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.category {
  padding: 1em;
  background-color: var(--light);
}

.category-title {
  text-transform: capitalize;
  margin-bottom: 0.5em;
}

.category-title a {
  color: var(--primary)
}

.category-title a:hover {
  text-decoration: underline;
}

.category-text {
  margin: 1em 0;
}

a.category-link {
  display: inline-block;
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: .5rem 1rem;
  transition: background-color 250ms linear;
}

a:hover.category-link {
  background-color: var(--primary);
  color: var(--light);
}

.full-img {
  width: 100%;
}

.full-img img {
  width: 100%;
}

.technologies {
  margin: 2em 0;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
  gap: 1em;
}

.technology {
  margin: 3em 0;
}
.technology img {
  width: 100px;
}

.footer {
  background-color: var(--dark);
  color: var(--light);
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  color: var(--light);
  padding: .25em;
  text-decoration: underline;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) {
  nav.navigation {
    gap: 2em;
  }
  .categories .slider {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .categories .slider {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
}
