:root {
  --background: #f2f3ef;
  --light: #FEFEFE;
  --dark: #103b6a;
  --primary: #4443D0;
  --font-family: 'Poppins', sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background);
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.nav-header {
  background-color: var(--light);
  padding: 1em 0;
}
